@import url("variables.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--body-background);
  font-family: Helvetica;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.45rem;
  text-align: center;
}
p {
  text-align: center;
  color: var(--paragraph-color);
  margin-top: 1.2rem;
}

.app-wrapper {
  margin-top: 3rem;
  padding: 1.1rem;
}

.app-body {
  margin-top: 2.5rem;
}

.left-section,
.right-section {
  display: flex;
  justify-content: space-between;
}

.styled-box {
  display: flex;
  height: var(--element-height);
  padding: var(--element-padding);
  box-shadow: var(--element-shadow);
  border: var(--element-border);
  border-radius: var(--element-border-radius);
}

.input-wrapper-from,
.input-wrapper-to {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 47%;
}

.label-from,
.label-to {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.input-amount-from {
  cursor: pointer;
}

.input-amount-from,
.input-amount-to {
  text-align: end;
  font-weight: bolder;
  width: 90%;
  border: none;
  background-color: #f7f7f9;
}

.focusable:focus {
  outline: 0.1rem solid #0047ab;
}

.flags-box-from,
.flags-box-to {
  width: 49%;
  align-items: center;
  justify-content: space-evenly;
}

.select-base-currency,
.select-target-currency {
  border: none;
  background-color: #f7f7f9;
  cursor: pointer;
}

.flag-img {
  width: 2.1rem;
}

.button-wrapper-swap {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.input-error,
.error-message {
  color: #ae0000;
  font-size: small;
  margin-bottom: 1.2rem;
}

.swap {
  width: 45%;
  padding: 0.2rem;
}

.swap,
.convert {
  background-color: var(--button-background);
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.swap:hover,
.convert:hover {
  background-color: #0158d1;
}

.fas {
  color: #ffffff;
  font-size: x-large;
}

.app-wrapper .exchange-rate-info {
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
}
.convert {
  width: 100%;
  height: 2rem;
  font-size: medium;
  color: #ffffff;
}

@media (max-width: 480px) {
  .flag-img {
    width: 1.65rem;
  }
}

@media (min-width: 768px) {
  body {
    align-items: center;
    background-color: #efefeffb;
  }

  .app-wrapper {
    box-shadow: 0 1.2rem 1.2rem 0 #b3bbc65d;
    border-radius: 1.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f9;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: large;
  }

  .app-body {
    width: 70%;
  }

  .left-section,
  .right-section {
    align-items: center;
    border: 1px solid #c8c6c6;
    border-radius: 0.5rem;
  }

  .styled-box {
    align-items: center;
    flex-direction: row;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .flags-box-from,
  .flags-box-to {
    width: 45%;
    border-right: 1px solid #c8c6c6;
    /* padding-left: 0.5rem; */
  }

  .input-wrapper-from,
  .input-wrapper-to {
    width: auto;
    flex-direction: column;
    align-items: end;
  }

  .input-error,
  .error-message {
    font-size: small;
  }

  .convert {
    width: 70%;
    font-size: large;
  }
}
